In [94]:
import pandas as pd
import numpy as np

In [95]:
potential_rows_df = pd.read_csv("./Datasets/exercise_study_rows.csv")
num_of_records_to_select_df = pd.read_csv("./Datasets/calories_value_counts.csv")

In [96]:
potential_rows_df.head()

,Date,Daily Weight Change,Calories Group,Exercise Calories Burned,Did Exercise
0,2023-05-10,0.5,2321-2330,NaN,0.0
1,2023-05-11,-0.2,2561-2570,151.0,1.0
2,2023-05-13,0.3,1781-1790,NaN,0.0
3,2023-05-14,-0.9,2351-2360,NaN,0.0
4,2023-05-15,0.8,2821-2830,289.0,1.0

In [97]:
num_of_records_to_select_df.head()

  Calories Group  countNo  countDid  Maximum
0      2511-2520        3         8        3
1      2751-2760        3         6        3
2      2731-2740        3         6        3
3      2741-2750        3        13        3
4      2121-2130        2         1        1

For each row in num_of_records_to_select_df, we need to select row["Maximum"] amount of records from row["Calories Group"] * 2. We need an equal number of records for each group: did exercise and no exercise

In [ ]:
rows_df = potential_rows_df.copy()
noex_records = pd.DataFrame(columns=["Date", "Daily Weight Change", "Calories Group", "Exercise Calories Burned", "Did Exercise"])
didex_records = pd.DataFrame(columns=["Date", "Daily Weight Change", "Calories Group", "Exercise Calories Burned", "Did Exercise"])

for i, row in num_of_records_to_select_df.iterrows():
	calories_group = row["Calories Group"]
	records_to_select = row["Maximum"]

	valid_rows = rows_df[rows_df["Calories Group"] == calories_group].reset_index(drop=True)
	valid_rows_didex = valid_rows[valid_rows["Did Exercise"] == 1].reset_index(drop=True)
	valid_rows_noex = valid_rows[valid_rows["Did Exercise"] == 0].reset_index(drop=True)

	# Select /records_to_select/ amount of records
	range_start = 0 
	range_end = len(valid_rows_didex)
 
	random_indicies = np.random.choice(np.arange(range_start, range_end), size=records_to_select, replace=False)
	selected_records_didex = valid_rows_didex.iloc[random_indicies].reset_index(drop=True)
	didex_records = pd.concat([didex_records, selected_records_didex], ignore_index=True)

	range_end = len(valid_rows_noex)
	random_indicies = np.random.choice(np.arange(range_start, range_end), size=records_to_select, replace=False)
	selected_records_noex = valid_rows_noex.iloc[random_indicies].reset_index(drop=True)
	noex_records = pd.concat([noex_records, selected_records_noex], ignore_index=True)
 
didex_records.to_csv("./Completed Datasets/Did Exercise Group.csv", index=False)
noex_records.to_csv("./Completed Datasets/No Exercise Group.csv", index=False)

C:\Users\harri\AppData\Local\Temp\ipykernel_5772\299564795.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  didex_records = pd.concat([didex_records, selected_records_didex], ignore_index=True)
C:\Users\harri\AppData\Local\Temp\ipykernel_5772\299564795.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  noex_records = pd.concat([noex_records, selected_records_noex], ignore_index=True)