In [60]:
import pandas as pd
import numpy as np

In [61]:
potential_rows_df = pd.read_csv("./Data Sets/exercise_study_rows.csv")
num_of_records_to_select_df = pd.read_csv("./Data Sets/calories_value_counts.csv")

In [62]:
potential_rows_df.head()

,Date,Daily Weight Change,Calories Group,Exercise Calories Burned,Did Exercise
0,2023-05-10,0.5,2321-2330,NaN,0.0
1,2023-05-11,-0.2,2561-2570,151.0,1.0
2,2023-05-13,0.3,1781-1790,NaN,0.0
3,2023-05-14,-0.9,2351-2360,NaN,0.0
4,2023-05-15,0.8,2821-2830,289.0,1.0

In [63]:
num_of_records_to_select_df.head()

  Calories Group  countNo  countDid  Maximum
0      2511-2520        3         8        3
1      2751-2760        3         6        3
2      2731-2740        3         6        3
3      2741-2750        3        13        3
4      2121-2130        2         1        1

For each row in num_of_records_to_select_df, we need to select row["Maximum"] amount of records from row["Calories Group"] * 2. We need an equal number of records for each group: did exercise and no exercise

In [64]:
rows_df = potential_rows_df.copy()
noex_records = pd.DataFrame(columns=["Date", "Daily Weight Change", "Calories Group", "Exercise Calories Burned", "Did Exercise"])
didex_records = pd.DataFrame(columns=["Date", "Daily Weight Change", "Calories Group", "Exercise Calories Burned", "Did Exercise"])

for i, row in num_of_records_to_select_df.iterrows():
	calories_group = row["Calories Group"]
	records_to_select = row["Maximum"]

	valid_rows = rows_df[rows_df["Calories Group"] == calories_group].reset_index(drop=True)
	valid_rows_didex = valid_rows[valid_rows["Did Exercise"] == 1].reset_index(drop=True)
	valid_rows_noex = valid_rows[valid_rows["Did Exercise"] == 0].reset_index(drop=True)

	# Select /records_to_select/ amount of records
	range_start = 0 
	range_end = len(valid_rows_didex)
 
	random_indicies = np.random.choice(np.arange(range_start, range_end), size=records_to_select, replace=False)
	selected_records_didex = valid_rows_didex.iloc[random_indicies].reset_index(drop=True)
	didex_records = pd.concat([didex_records, selected_records_didex], ignore_index=True)

	range_end = len(valid_rows_noex)
	random_indicies = np.random.choice(np.arange(range_start, range_end), size=records_to_select, replace=False)
	selected_records_noex = valid_rows_noex.iloc[random_indicies].reset_index(drop=True)
	noex_records = pd.concat([noex_records, selected_records_noex], ignore_index=True)

C:\Users\harri\AppData\Local\Temp\ipykernel_5772\2085905598.py:19: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  didex_records = pd.concat([didex_records, selected_records_didex], ignore_index=True)
C:\Users\harri\AppData\Local\Temp\ipykernel_5772\2085905598.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  noex_records = pd.concat([noex_records, selected_records_noex], ignore_index=True)

In [ ]:
didex_records.to_csv("./Completed Datasets/Did Exercise Group.csv", index=False)
didex_records

,Date,Daily Weight Change,Calories Group,Exercise Calories Burned,Did Exercise
0,2024-09-02,0.2,2511-2520,645.0,1.0
1,2024-09-07,0.4,2511-2520,284.0,1.0
2,2024-04-26,0.0,2511-2520,267.0,1.0
3,2024-11-07,0.1,2751-2760,459.0,1.0
4,2024-10-11,0.2,2751-2760,230.0,1.0
5,2024-10-28,-1.4,2751-2760,184.0,1.0
6,2024-06-24,0.7,2731-2740,227.0,1.0
7,2024-07-11,0.7,2731-2740,569.0,1.0
8,2024-11-06,0.4,2731-2740,258.0,1.0
9,2024-10-22,-0.4,2741-2750,183.0,1.0
10,2024-10-10,0.1,2741-2750,259.0,1.0
11,2024-10-23,-0.4,2741-2750,279.0,1.0
12,2025-04-26,0.0,2121-2130,303.0,1.0
13,2024-04-23,0.9,2311-2320,188.0,1.0
14,2024-02-27,-0.9,2271-2280,459.0,1.0
15,2024-05-14,-0.7,2271-2280,278.0,1.0
16,2025-07-24,-0.1,2671-2680,501.0,1.0
17,2024-08-21,-0.6,2491-2500,482.0,1.0
18,2025-02-19,0.1,2491-2500,175.0,1.0
19,2024-05-26,0.7,2521-2530,171.0,1.0
20,2024-02-25,0.1,2521-2530,492.0,1.0
21,2024-06-14,0.7,2721-2730,373.0,1.0
22,2024-11-14,-0.1,2721-2730,662.0,1.0
23,2024-03-13,0.2,2001-2010,456.0,1.0
24,2024-03-17,-0.6,2201-2210,337.0,1.0
25,2023-12-11,1.0,1491-1500,195.0,1.0
26,2024-12-04,-1.7,2071-2080,218.0,1.0
27,2024-04-08,0.8,2231-2240,202.0,1.0
28,2024-03-03,0.5,2321-2330,245.0,1.0
29,2024-01-09,-0.3,2421-2430,388.0,1.0
30,2024-05-13,0.6,2481-2490,565.0,1.0
31,2025-01-18,0.5,2341-2350,255.0,1.0
32,2025-02-23,-0.1,1061-1070,283.0,1.0
33,2025-01-23,-1.2,2041-2050,261.0,1.0
34,2024-10-15,-0.2,2531-2540,279.0,1.0
35,2024-07-06,-0.1,2621-2630,249.0,1.0
36,2025-04-10,0.5,2681-2690,160.0,1.0
37,2024-01-05,0.0,1981-1990,265.0,1.0
38,2024-11-04,0.0,2691-2700,283.0,1.0
39,2024-05-30,-0.9,2971-2980,256.0,1.0
40,2024-07-08,0.0,3011-3020,409.0,1.0

In [ ]:
noex_records.to_csv("./Completed Datasets/No Exercise Group.csv", index=False)
noex_records

,Date,Daily Weight Change,Calories Group,Exercise Calories Burned,Did Exercise
0,2025-02-18,-0.2,2511-2520,NaN,0.0
1,2025-01-31,0.2,2511-2520,NaN,0.0
2,2024-09-21,-0.3,2511-2520,NaN,0.0
3,2024-10-06,0.7,2751-2760,NaN,0.0
4,2024-10-14,-0.2,2751-2760,NaN,0.0
5,2025-03-31,1.4,2751-2760,NaN,0.0
6,2024-10-09,0.3,2731-2740,NaN,0.0
7,2024-11-03,-0.1,2731-2740,NaN,0.0
8,2024-11-17,-0.3,2731-2740,NaN,0.0
9,2024-10-03,0.3,2741-2750,NaN,0.0
10,2024-10-24,0.3,2741-2750,NaN,0.0
11,2024-10-05,-0.2,2741-2750,NaN,0.0
12,2023-12-05,0.0,2121-2130,NaN,0.0
13,2025-01-27,0.0,2311-2320,NaN,0.0
14,2023-06-04,1.5,2271-2280,NaN,0.0
15,2025-02-26,1.1,2271-2280,NaN,0.0
16,2024-09-18,-0.2,2671-2680,NaN,0.0
17,2025-01-16,-0.2,2491-2500,NaN,0.0
18,2025-05-27,0.8,2491-2500,NaN,0.0
19,2025-05-01,-0.3,2521-2530,NaN,0.0
20,2024-10-18,0.2,2521-2530,NaN,0.0
21,2024-10-31,0.2,2721-2730,NaN,0.0
22,2024-05-17,0.6,2721-2730,NaN,0.0
23,2025-08-01,-0.1,2001-2010,NaN,0.0
24,2023-12-17,-0.2,2201-2210,NaN,0.0
25,2023-12-10,-0.5,1491-1500,NaN,0.0
26,2023-12-04,1.3,2071-2080,NaN,0.0
27,2025-03-09,-0.4,2231-2240,NaN,0.0
28,2023-05-10,0.5,2321-2330,NaN,0.0
29,2024-05-24,-0.1,2421-2430,NaN,0.0
30,2025-02-08,1.4,2481-2490,NaN,0.0
31,2025-01-26,0.0,2341-2350,NaN,0.0
32,2025-07-09,-0.3,1061-1070,NaN,0.0
33,2025-04-29,-0.4,2041-2050,NaN,0.0
34,2024-09-15,-0.4,2531-2540,NaN,0.0
35,2023-05-28,-0.4,2621-2630,NaN,0.0
36,2025-03-11,-0.7,2681-2690,NaN,0.0
37,2023-05-19,0.0,1981-1990,NaN,0.0
38,2025-05-07,0.9,2691-2700,NaN,0.0
39,2024-06-25,1.0,2971-2980,NaN,0.0
40,2024-06-16,-1.2,3011-3020,NaN,0.0