In [26]:
import pandas as pd

In [27]:
strong_df = pd.read_csv("../DataInput/Strong App/strong.csv")

In [28]:
strong_df.head()

,Date,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2024-09-19 10:07:38,A (Leg Day 1),36m,Hip Abductor (Machine),1,65.000000,10.0,0,0.0,"10x10s isometric holds, 1m rest in between per...",NaN,NaN
1,2024-09-19 10:07:38,A (Leg Day 1),36m,Hip Abductor (Machine),2,65.000000,10.0,0,0.0,NaN,NaN,NaN
2,2024-09-19 10:07:38,A (Leg Day 1),36m,Hip Abductor (Machine),3,55.000000,10.0,0,0.0,NaN,NaN,NaN
3,2024-09-19 10:07:38,A (Leg Day 1),36m,Seated Leg Curl (Machine),1,77.161792,11.0,0,0.0,2m 30 per set,NaN,NaN
4,2024-09-19 10:07:38,A (Leg Day 1),36m,Seated Leg Curl (Machine),2,77.161792,10.0,0,0.0,NaN,NaN,NaN

- The columns we are interested in:
    - "Date", "Exercise Name", "Weight", "Reps"
- The "Weight" column is derived from the "KG" column.
- "Time", "kcal nett", "kcal out", "target cals" are no longer used and updated. However it may be useful to manually update "target cals" column given I know what my target calories would have been
- "TC Variance" is derived
- All other columns are derived

In [29]:
strong_df = strong_df[["Date", "Exercise Name", "Weight", "Reps"]]
strong_df

                     Date              Exercise Name     Weight  Reps
0     2024-09-19 10:07:38     Hip Abductor (Machine)  65.000000  10.0
1     2024-09-19 10:07:38     Hip Abductor (Machine)  65.000000  10.0
2     2024-09-19 10:07:38     Hip Abductor (Machine)  55.000000  10.0
3     2024-09-19 10:07:38  Seated Leg Curl (Machine)  77.161792  11.0
4     2024-09-19 10:07:38  Seated Leg Curl (Machine)  77.161792  10.0
...                   ...                        ...        ...   ...
1974  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   0.000000   0.0
1975  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   7.000000   8.0
1976  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   0.000000   0.0
1977  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   7.000000   6.0
1978  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   0.000000   0.0

[1979 rows x 4 columns]

In [30]:
strong_df.describe

<bound method NDFrame.describe of                      Date              Exercise Name     Weight  Reps
0     2024-09-19 10:07:38     Hip Abductor (Machine)  65.000000  10.0
1     2024-09-19 10:07:38     Hip Abductor (Machine)  65.000000  10.0
2     2024-09-19 10:07:38     Hip Abductor (Machine)  55.000000  10.0
3     2024-09-19 10:07:38  Seated Leg Curl (Machine)  77.161792  11.0
4     2024-09-19 10:07:38  Seated Leg Curl (Machine)  77.161792  10.0
...                   ...                        ...        ...   ...
1974  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   0.000000   0.0
1975  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   7.000000   8.0
1976  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   0.000000   0.0
1977  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   7.000000   6.0
1978  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   0.000000   0.0

[1979 rows x 4 columns]>

This dataset also includes rows that represented rest times between sets

In [31]:
strong_df = strong_df[(strong_df["Weight"] > 0) & (strong_df["Reps"] > 0)]
strong_df

                     Date              Exercise Name     Weight  Reps
0     2024-09-19 10:07:38     Hip Abductor (Machine)  65.000000  10.0
1     2024-09-19 10:07:38     Hip Abductor (Machine)  65.000000  10.0
2     2024-09-19 10:07:38     Hip Abductor (Machine)  55.000000  10.0
3     2024-09-19 10:07:38  Seated Leg Curl (Machine)  77.161792  11.0
4     2024-09-19 10:07:38  Seated Leg Curl (Machine)  77.161792  10.0
...                   ...                        ...        ...   ...
1969  2025-08-15 13:58:47       Lat Pulldown (Cable)  30.000000   8.0
1971  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   8.000000  10.0
1973  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   8.000000   6.0
1975  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   7.000000   8.0
1977  2025-08-15 13:58:47      Bicep Curl (Dumbbell)   7.000000   6.0

[1426 rows x 4 columns]

This dataset should be cleaned and free of NaN/null values

In [32]:
weights_df.to_csv("./CleanedData/Cleaned_StrongApp.csv")