In [9]:
import pandas as pd

In [10]:
mfp_df = pd.read_csv("../DataInput/MyFitnessPal/Nutrition-Summary-2020-05-19-to-2025-08-15.csv")

I can't remember using MFP for the first 2 rows of data, so I'm going to remove them

In [11]:
mfp_df = mfp_df[2:]
mfp_df

,Date,Meal,Calories,Fat (g),Saturated Fat,Polyunsaturated Fat,Monounsaturated Fat,Trans Fat,Cholesterol,Sodium (mg),Potassium,Carbohydrates (g),Fiber,Sugar,Protein (g),Vitamin A,Vitamin C,Calcium,Iron,Note
2,2020-12-14,Meal 2,350.0,2.0,0.0,0.0,0.0,0.0,30.0,640.0,200.0,54.0,0.0,0.0,22.0,0.0,0.0,0.0,4.0,NaN
3,2020-12-14,Meal 4,185.2,0.2,0.2,0.0,0.0,0.0,0.0,440.0,0.0,44.5,0.0,42.6,0.1,0.0,0.0,2.0,0.0,NaN
4,2020-12-15,Meal 2,1158.0,90.8,11.2,0.0,0.0,0.0,0.0,0.0,0.0,34.4,20.6,15.4,40.6,0.0,0.0,0.0,0.0,NaN
5,2020-12-15,Meal 4,186.5,0.6,0.6,0.0,0.0,0.0,460.0,184.0,0.0,26.0,0.0,42.0,0.2,0.0,0.0,2.0,0.0,NaN
6,2020-12-16,Meal 2,700.0,33.0,4.0,0.0,0.0,0.0,90.0,1200.0,0.0,64.0,0.0,22.0,35.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,2025-08-14,Meal 1,2264.7,183.2,84.4,36.1,1.6,1.5,139.0,2174.6,272.0,54.6,26.5,10.1,105.2,47.0,17.3,146.1,42.7,NaN
3812,2025-08-14,Meal 2,630.0,49.5,24.5,0.0,0.0,0.0,0.0,395.0,0.0,0.0,0.0,0.0,46.0,0.0,0.0,0.0,0.0,NaN
3813,2025-08-15,Meal 1,1087.9,92.6,42.6,0.0,0.0,0.0,0.0,1450.4,0.0,12.4,4.0,2.6,55.7,0.0,0.0,0.0,0.0,NaN
3814,2025-08-15,Meal 2,504.0,39.6,19.6,0.0,0.0,0.0,0.0,316.0,0.0,0.0,0.0,0.0,36.8,0.0,0.0,0.0,0.0,NaN
3815,2025-08-15,Meal 4,1016.6,82.9,39.9,8.3,1.6,0.1,0.0,359.5,272.0,37.3,21.6,6.9,41.2,0.7,17.3,53.4,42.7,NaN

We only care about the Date, Calories, Fat, Carbohydrates and Protein columns.
- A lot of foods that I have logged have unclear amounts of micronutrients
- The specific meal that the calories was consumed in is inaccurate in a lot of cases and doesn't represent one meal

In [12]:
mfp_df = mfp_df[["Date", "Calories", "Fat (g)", "Carbohydrates (g)", "Protein (g)"]]
mfp_df

            Date  Calories  Fat (g)  Carbohydrates (g)  Protein (g)
2     2020-12-14     350.0      2.0               54.0         22.0
3     2020-12-14     185.2      0.2               44.5          0.1
4     2020-12-15    1158.0     90.8               34.4         40.6
5     2020-12-15     186.5      0.6               26.0          0.2
6     2020-12-16     700.0     33.0               64.0         35.0
...          ...       ...      ...                ...          ...
3811  2025-08-14    2264.7    183.2               54.6        105.2
3812  2025-08-14     630.0     49.5                0.0         46.0
3813  2025-08-15    1087.9     92.6               12.4         55.7
3814  2025-08-15     504.0     39.6                0.0         36.8
3815  2025-08-15    1016.6     82.9               37.3         41.2

[3814 rows x 5 columns]

There are 6 rows that appear to have missing data. I'm choosing to keep these rows in the dataset because it would represent having 0 calories to eat that day

In [13]:
na_rows = mfp_df[mfp_df.isna().any(axis=1)]
na_rows

           Date  Calories  Fat (g)  Carbohydrates (g)  Protein (g)
100  2021-01-16       NaN      NaN                NaN          NaN
101  2021-01-17       NaN      NaN                NaN          NaN
102  2021-01-18       NaN      NaN                NaN          NaN
103  2021-01-19       NaN      NaN                NaN          NaN
104  2021-01-20       NaN      NaN                NaN          NaN
105  2021-01-21       NaN      NaN                NaN          NaN

In [14]:
mfp_df = mfp_df.fillna(0)
mfp_df[mfp_df.isna().any(axis=1)]

Empty DataFrame
Columns: [Date, Calories, Fat (g), Carbohydrates (g), Protein (g)]
Index: []

In [15]:
mfp_df

            Date  Calories  Fat (g)  Carbohydrates (g)  Protein (g)
2     2020-12-14     350.0      2.0               54.0         22.0
3     2020-12-14     185.2      0.2               44.5          0.1
4     2020-12-15    1158.0     90.8               34.4         40.6
5     2020-12-15     186.5      0.6               26.0          0.2
6     2020-12-16     700.0     33.0               64.0         35.0
...          ...       ...      ...                ...          ...
3811  2025-08-14    2264.7    183.2               54.6        105.2
3812  2025-08-14     630.0     49.5                0.0         46.0
3813  2025-08-15    1087.9     92.6               12.4         55.7
3814  2025-08-15     504.0     39.6                0.0         36.8
3815  2025-08-15    1016.6     82.9               37.3         41.2

[3814 rows x 5 columns]

MyFitnessPal nutritional data has been cleaned

In [16]:
mfp_df.to_csv("./CleanedData/Cleaned_NutritionalData.csv")