In [87]:
import pandas as pd

In [88]:
strong_df = pd.read_csv("../DataInput/Strong App/strong.csv")

Remove empty rows

In [89]:
strong_df = strong_df[(strong_df["Weight"] > 0) & (strong_df["Reps"] > 0)]

In [90]:
strong_df

,Date,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,2024-09-19 10:07:38,A (Leg Day 1),36m,Hip Abductor (Machine),3,55.00,10.0,0,0.0,NaN,NaN,NaN
1,2024-09-19 10:07:38,A (Leg Day 1),36m,Hip Abductor (Machine),1,65.00,10.0,0,0.0,"10x10s isometric holds, 1m rest in between per...",NaN,NaN
3,2024-09-19 10:07:38,A (Leg Day 1),36m,Hip Abductor (Machine),2,65.00,10.0,0,0.0,NaN,NaN,NaN
4,2024-09-19 10:07:38,A (Leg Day 1),36m,Seated Leg Curl (Machine),3,77.16,8.0,0,0.0,NaN,NaN,NaN
6,2024-09-19 10:07:38,A (Leg Day 1),36m,Seated Leg Curl (Machine),1,77.16,11.0,0,0.0,2m 30 per set,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2381,2025-08-21 15:06:31,Legs B,52m,Leg Extension (Machine),2,50.00,15.0,0,0.0,NaN,NaN,NaN
2384,2025-08-21 15:06:31,Legs B,52m,Leg Extension (Machine),5,40.00,18.0,0,0.0,NaN,NaN,NaN
2385,2025-08-21 15:06:31,Legs B,52m,Leg Extension (Machine),4,50.00,9.0,0,0.0,NaN,NaN,NaN
2388,2025-08-21 15:06:31,Legs B,52m,Leg Extension (Machine),3,50.00,13.0,0,0.0,NaN,NaN,NaN
2391,2025-08-21 15:06:31,Legs B,52m,Leg Extension (Machine),1,40.00,20.0,0,0.0,Lbs,NaN,NaN

We'll assume the weights are measured in kilograms by default, but if the Notes column contains "Lbs", convert weight to lbs

In [91]:
LBS_TO_KG = 0.45359237
for i, row in strong_df.iterrows():
	if "lbs" in str(row["Notes"]).lower():
		strong_df.loc[
            (strong_df["Date"] == row["Date"]) &
            (strong_df["Exercise Name"] == row["Exercise Name"]),
            "Notes"
        ] = "Lbs"

for i, row in strong_df.iterrows():
	if "lbs" in str(row["Notes"]).lower():
		strong_df.loc[i, "Weight"] = row["Weight"] * LBS_TO_KG

i- The columns we are interested in:
    - "Date", "Exercise Name", "Weight", "Reps"
- The "Weight" column is derived from the "KG" column.
- "Time", "kcal nett", "kcal out", "target cals" are no longer used and updated. However it may be useful to manually update "target cals" column given I know what my target calories would have been
- "TC Variance" is derived
- All other columns are derived

In [92]:
strong_df = strong_df[["Date", "Exercise Name", "Weight", "Reps"]].reset_index(drop=True)

In [93]:
strong_df.columns

Index(['Date', 'Exercise Name', 'Weight', 'Reps'], dtype='object')

Date column should only be dates, not datetimes

In [94]:
strong_df["Date"] = pd.to_datetime(strong_df["Date"], errors="coerce")
strong_df["Date"] = strong_df["Date"].dt.date

In [95]:
strong_df.reset_index(inplace=True, drop=True)
strong_df = strong_df.set_index("Date")

This dataset should be cleaned and free of NaN/null values

In [96]:
strong_df.to_csv("./CleanedData/Cleaned_StrongApp.csv")